* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
  .contain{
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.btn{
    border: none;
    /* height: 150px;
    width: 150px; */
    margin-top: 6%;
    background-color: #fff;
}
.restart{
  /* border: none; */
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 15%; 
  font-size: 1rem;
  text-align: center;
  background-color: bisque;
}
.score{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 80px;
    font-size: 150%;
}
img{
    border-radius: 50%;
}